@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Courier+Prime&family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
@import url('https://pro.fontawesome.com/releases/v5.13.0/css/all.css');

/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

mark {
    background-color: transparent;
    color: inherit;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input,
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}


/* Base */

*,
*:visited,
*:focus,
*:active,
*:link {
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 1000;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.75em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.2em;
}

a {
    color: currentColor;
    transition: .2s ease-in-out;
    color: #000000;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
}

#body_wrapper {
    overflow: hidden;
}

#cont_wrapper {
    margin: auto;
    max-width: 980px;
}


/* Header */

#header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#header h1 {
    margin: 0.5em 0;
    display: inline-block;
    font-family: 'Baloo Chettan 2', cursive;
}

#header h1 span {
    font-size: 0.865em;
}

#header p {
    margin-bottom: 1rem;
}

#header #gnav {
    margin: 5.2rem auto 0;
    min-height: 3rem;
    line-height: 3rem;
    top: -30px;
    transition: all 0.3s ease 0s;
    font-size: 1.2rem;
    font-family: 'Baloo Chettan 2', cursive;
    z-index: 10;
}

#header #gnav.gnav_fixed {
    margin: auto;
    width: 100%;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    background-color: rgba(250, 250, 250, 0.9);
    -webkit-transition: all .5s ease 0s, background .5s ease .2s;
    transition: all .5s ease 0s, background .5s ease .2s;
}

#header #gnav ul {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#header #gnav ul li {
    margin-left: 2rem;
    padding-right: 2rem;
}

#header #gnav ul li a {
    display: inline-block;
    position: relative;
}

#header #gnav ul li a:after {
    margin-top: 0.6rem;
    display: inline-block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 1px;
    border-bottom: #222222 solid 2px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: ease .5s;
    transition: ease .5s
}

#header #gnav ul li a:hover:after {
    width: 115%
}

@media screen and (max-width: 980px) {
    #header {
        justify-content: center;
    }
    #header #gnav {
        margin: auto;
    }
}

@media screen and (max-width: 767px) {
    #header #gnav {
        display: none;
    }
}


/* Header Drawer Navi */

#dnav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    display: none;
    font-size: 1.5em;
    font-family: 'Baloo Chettan 2', cursive;
    z-index: 10;
}

#dnav * {
    visibility: visible;
}

#dnav #dnav_header {
    position: fixed;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: none;
}

#dnav:focus-within #dnav_header {
    display: flex;
}

#dnav .bg {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    background: #000;
}

#dnav:focus-within .bg {
    visibility: visible;
    opacity: .6;
}

#dnav .button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 70px;
    width: 30px;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 25px;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#dnav .button .icon-bar {
    display: block;
    width: 100%;
    height: 3px;
    background: #000000;
    transition: .3s;
}

#dnav .button .icon-bar+.icon-bar {
    margin-top: 5px;
}

#dnav:focus-within .button {
    pointer-events: none;
}

#dnav:focus-within .button .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 8px, 0) rotate(45deg);
    background: #ffffff;
}

#dnav:focus-within .button .icon-bar:nth-of-type(2) {
    opacity: 0;
}

#dnav:focus-within .button .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -8px, 0) rotate(-45deg);
    background: #ffffff;
}

#dnav_cont {
    margin-top: 70px;
    padding: 20px;
    width: 60%;
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 70px);
    background: #ffffff;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateX(-100%);
    transition: transform .3s;
    will-change: transform;
    contain: paint;
    text-align: center;
}

#dnav_cont ul {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#dnav_cont ul li {
    margin-bottom: 1.5rem;
}

#dnav_cont li a {
    padding: 10px 5px;
    display: block;
    text-transform: uppercase;
    transition: color .1s;
}

#dnav_cont li a:hover {
    color: #222222;
}

#dnav_cont li:not(.small)+.small {
    margin-top: auto;
}

#dnav:focus-within #dnav_cont {
    transform: none;
}

@media screen and (max-width: 767px) {
    #dnav {
        display: block;
    }
}


/* Main Common */

#main section {
    margin-bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
}

#main section:first-of-type {
    margin-top: 6rem;
}

#main h2,
#main h3 {
    font-family: "Sawarabi Mincho";
}

#main h3 {
    margin: 1.5em 0 0.5em;
    line-height: 1.5em;
}

#main p {
    display: inline-block;
    line-height: 2em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

#main p.more,
#main p.view_all {
    width: 80%;
    height: 3em;
    margin: 1.5rem auto 0;
    display: inline-flex;
    background: rgba(240, 240, 240, 0.9);
    text-align: center;
    line-height: 3em;
}

#main p.more a,
#main p.view_all a {
    width: 100%;
}

#main p.more a:hover,
#main p.view_all a:hover {
    background: rgba(220, 220, 220, 0.9);
}

@media screen and (max-width: 767px) {
    #main section {
        flex-direction: column;
    }
    #main p {
        font-size: 1rem;
    }
    #main p.more {
        margin: 2em auto 0;
        width: 100%;
    }
    #main p.view_all {
        margin: 2em auto 0;
        width: 80%;
    }
}


/* Main .txt_img Common */

#main .txt_img .txt_box {
    width: calc(60% - 2rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main .txt_img .img_box {
    width: calc(40% - 2rem);
}

#main .txt_img img {
    max-width: 100%;
    display: inline-block;
}

#main .txt_img img.pc_view {
    display: block;
}

#main .txt_img img.sp_view {
    display: none;
}

@media screen and (max-width: 767px) {
    #main .txt_img {
        margin-top: 2rem;
        flex-direction: column-reverse;
    }
    #main .txt_img .txt_box {
        margin: 0;
        padding-left: 2rem;
        min-width: 90%;
    }
    #main .txt_img .img_box {
        width: 100%;
    }
    #main .txt_img .txt_box h2 {
        margin-top: 1.25em;
    }
    #main .txt_img img.pc_view {
        display: none;
    }
    #main .txt_img img.sp_view {
        display: block;
        max-width: 90%;
    }
}


/* Main Gojuon */

#main #gojuon {
    flex-direction: row-reverse;
}

#main #gojuon .txt_box {
    padding-right: 2rem;
}

#main #gojuon .txt_box p.more {
    margin-right: auto;
}

#main #gojuon .img_box {
    margin-right: auto;
}

@media screen and (max-width: 767px) {
    #main #gojuon {
        margin-top: 2rem;
        flex-direction: column-reverse;
    }
    #main #gojuon .txt_box {
        padding-right: 0;
    }
}


/* Main Houhou */

#main #houhou .txt_box {
    padding-left: 2rem;
    text-align: right;
}

#main #houhou .txt_box p.more {
    margin-left: auto;
}

#main #houhou .img_box {
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    #main #houhou .txt_box {
        text-align: left;
    }
}


/* Study Manu Common */

#main .study_menu {
    justify-content: center;
    text-align: center;
}

#main .study_menu h2 {
    margin-bottom: 1em;
}

#main .study_menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#main .study_menu ul li {
    margin-bottom: 6rem;
    width: 300px;
    height: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

#main .study_menu ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

#main .study_menu ul li a:nth-child(1) {
    transition: .5s;
}

#main .study_menu ul li a:hover:nth-child(1) {
    background-color: rgba(0, 0, 0, .5);
    transition: .5s;
}

#main .study_menu ul li a span.img_clip {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    display: inline-block;
    overflow: hidden;
}

#main .study_menu ul li a span.img_clip img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -20;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#main .study_menu ul li a:hover span.img_clip img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#main .study_menu ul li a span.view_all_cap {
    margin-bottom: 0.25rem;
    width: 100%;
    display: inline-block;
    line-height: 185px;
    opacity: 0;
    transition: .5s;
    color: #ffffff;
}

#main .study_menu ul li a:hover span.view_all_cap {
    opacity: 1;
    transition: .5s;
}

#main .study_menu ul li a p {
    width: auto;
    display: inline-block;
    position: relative;
}

#main .study_menu ul li a p:after {
    margin-top: 0.6rem;
    display: inline-block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 1px;
    border-bottom: #222222 solid 2px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: ease .5s;
    transition: ease .5s
}

#main .study_menu ul li a:hover p:after {
    width: 115%
}

#main .study_menu ul li a.study_tag {
    margin-top: 2.75rem;
    width: auto;
    display: inline-block;
}

#main .study_menu ul li a.study_tag:hover {
    border-bottom: #222222 dotted 1px;
}

@media screen and (max-width: 980px) {
    #main .study_menu ul {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 767px) {
    #main .study_menu ul {
        margin-bottom: -2rem;
    }
}


/* Main News */

#main #news {
    margin: 0 calc(50% - 50vw) 10rem;
    padding: 0 calc(50vw - 50%);
    width: 100vw;
    min-height: 18rem;
    display: flex;
    flex-wrap: wrap;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
    background-blend-mode: screen;
}

#main #news h2 {
    margin-top: 4rem;
    height: 5rem;
    flex-basis: 30%;
    text-align: center;
    line-height: 5rem;
}

#main #news dl {
    margin-top: 4rem;
    height: 10rem;
    flex-basis: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}

#main #news dl dt {
    display: flex;
    flex-basis: 11.5rem;
}

#main #news dl dt span {
    margin: 0 1em 0;
    padding: 0 1em 0;
    display: inline-block;
    font-size: 0.8rem;
    border-radius: 3px;
    line-height: 1rem;
    align-self: center;
    background: #000000;
    color: #ffffff;
}

#main #news dl dd {
    flex-basis: calc(100% - 11.5rem);
}

#main #news p.news_view_all {
    margin-top: -7rem;
    height: 5rem;
    flex-basis: 30%;
    text-align: center;
    line-height: 5rem;
}

#main #news p.news_view_all a:hover {
    border-bottom: #222222 dotted 1px;
}

@media screen and (max-width: 767px) {
    #main #news {
        min-height: 30rem;
        align-items: center;
    }
    #main #news h2 {
        margin-top: 2.5rem;
        width: 100%;
    }
    #main #news dl {
        margin: 0;
        align-self: center;
        width: calc(100% - 2rem)
    }
    #main #news dl dt {
        margin-top: 1rem;
        line-height: 1.5;
        flex-basis: 100%;
    }
    #main #news dl dd {
        padding-bottom: 1rem;
        line-height: 1.5;
        flex-basis: 100%;
        border-bottom: #dddddd solid 1px;
    }
    #main #news p.news_view_all {
        flex-basis: 100%;
        margin: 0;
    }
}


/* Main Shoukai */

#main #shoukai {
    margin: 0 calc(50% - 50vw) 10rem;
    width: 100vw;
}

#main #shoukai h2 {
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
}

#main #shoukai ul {
    margin-bottom: 4rem;
    width: 100vw;
    height: calc(100vw * 0.206);
    display: flex;
}

#main #shoukai ul li {
    flex: 1;
    display: flex;
    text-align: center;
    position: relative;
}

#main #shoukai ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: .5s;
}

#main #shoukai ul li a:hover {
    background-color: rgba(0, 0, 0, .5);
    transition: .5s;
}

#main #shoukai ul li a span.img_clip {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: -10;
    display: inline-block;
    overflow: hidden;
}

#main #shoukai ul li a span.img_clip img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: -20;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#main #shoukai ul li a:hover span.img_clip img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#main #shoukai ul li a span.view_all_cap {
    width: 100%;
    display: inline-block;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: .5s;
    color: #ffffff;
}

#main #shoukai ul li a:hover span.view_all_cap {
    opacity: 1;
    transition: .5s;
}

#main #shoukai ul li a p {
    width: auto;
    display: inline-block;
    position: relative;
}

#main #shoukai ul li a p:after {
    margin-top: 0.6rem;
    display: inline-block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 1px;
    border-bottom: #222222 solid 2px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: ease .5s;
    transition: ease .5s
}

#main #shoukai ul li a:hover p:after {
    width: 115%
}

@media screen and (max-width: 767px) {
    #main #shoukai ul {
        margin-bottom: -2rem;
        height: 100%;
        flex-direction: column;
    }
    #main #shoukai ul li {
        width: 100vw;
        height: calc(100vw * 0.618);
        margin-bottom: 5rem;
    }
}


/* Footer Common */

#footer {
    margin: 0 calc(50% - 50vw) 0;
    padding: 0 calc(50vw - 50%) 3rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    background-color: #222222;
    color: #ffffff;
}

#footer section {
    height: 80%;
    display: flex;
    flex: 1 calc(50% - 2rem);
}

#footer a {
    color: #ffffff;
}

#footer p {
    margin-bottom: 1rem;
    font-size: 1em;
    line-height: 1.5;
}

#footer small {
    font-size: 0.8em;
}

#footer small a {}

#footer small a:hover {
    border-bottom: #ffffff dotted 1px;
}


/* Footer Fnavi */

#footer #fnav {
    align-items: center;
}

#footer #fnav ul {
    margin: 40% 0 0 auto;
    width: calc(100% * 1 / 2);
    height: 10rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

#footer #fnav ul li {
    flex-basis: 50%;
}

#footer #fnav ul li a {
    display: inline-block;
    position: relative;
}

#footer #fnav ul li a:after {
    margin-top: 0.6rem;
    display: inline-block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 1px;
    border-bottom: #ffffff solid 2px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: ease .5s;
    transition: ease .5s
}

#footer #fnav ul li a:hover:after {
    width: 115%
}


/* Footer Profile */

#footer #prof {
    flex-direction: column;
}

#footer #prof h2 {
    margin: 2em 0 -3rem;
    width: 5rem;
    min-height: 5rem;
    font-size: 1.25em;
    background-color: tomato;
    display: inline-block;
    border-radius: 50%;
    flex-basis: 5rem;
    line-height: 5rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer #prof img {
    margin: 1rem;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    display: inline-block;
    border-radius: 50%;
    border: #ffffff solid 0.25em;
}

#footer #prof p {
    width: 12.5rem;
}

#footer #prof h3#myname {
    margin-bottom: 1rem;
    width: 12.5rem;
    font-size: 1.5em;
    text-align: center;
}

#footer #prof h3#myname span {
    display: inline-block;
    font-size: 0.6em;
}

#footer #prof dl {
    width: 12.5rem;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    align-items: center;
}

#footer #prof dl dt {
    width: 3rem;
    font-size: 1.5em;
    text-align: center;
}

#footer #prof dl dd {
    width: calc(100% - 3rem);
}